---
import { getEntry } from "astro:content";
import { getRelativeLocaleUrl } from "astro:i18n";

import Footer from "&ui/Footer.astro";
import Header from "&ui/Header.astro";

import { getAlternateRelativeLocaleUrlList } from "&utils/adapter/astro/path.ts";
import { convertBlogPathToBlogId } from "&utils/compositional/content/path.ts";
import { MetaLoader } from "&utils/compositional/i18n/metaLoader.ts";
import { neutralizeUrlPath } from "&utils/compositional/routing/url.ts";
import { defaultLocale, locales } from "&utils/core/i18n/locale/definition.ts";
import { getLocaleRouteFromPathStrict } from "&utils/core/i18n/locale/path.ts";

import "&styles/base/global.css";

const lang = Astro.currentLocale;
const meta = await MetaLoader.getAsync(lang);
const siteName = meta.home.title;

const {
  pageTitle = siteName,
  description = `A page on ${siteName}`,
  ogType = "website",
  ogImage,
} = Astro.props;

const fullTitle = pageTitle.includes(siteName) ? pageTitle : `${siteName} - ${pageTitle}`;

const ogLocale = locales.find((locale) => locale.path == lang)?.og;
const base = Astro.site ?? Astro.url.origin;
const neutralPath = neutralizeUrlPath(Astro.url.pathname);

const canonicalUrl = new URL(Astro.url.pathname, base);
const xDefaultUrl = new URL(getRelativeLocaleUrl(defaultLocale, neutralPath), base);

let altLocaleUrls = getAlternateRelativeLocaleUrlList(lang, neutralPath);

// Temporary solution until I develop content collections further
const exists = async (pathname: string) => {
  const blogId = convertBlogPathToBlogId(pathname);

  return (await getEntry("blog", blogId)) !== undefined;
};

if (Astro.params.slug) {
  const entries = await Promise.all(altLocaleUrls.map(exists));
  altLocaleUrls = altLocaleUrls.filter((_, index) => entries[index]);
}

const alternates = altLocaleUrls.map((url) => ({
  hreflang: getLocaleRouteFromPathStrict(url),
  href: new URL(url, base),
  ogLocale: locales.find((loc) => loc.path == getLocaleRouteFromPathStrict(url))?.og,
}));

const robotsContent = import.meta.env.PROD ? "index, follow" : "noindex, nofollow";
---

<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content={Astro.generator} name="generator" />

    <!-- Canonical and Alternates -->
    <link href={canonicalUrl} rel="canonical" />
    <link href={xDefaultUrl} hreflang="x-default" rel="alternate" />
    {alternates.map((alt) => <link href={alt.href} hreflang={alt.hreflang} rel="alternate" />)}

    <!-- Basic SEO Defaults -->
    <title>{fullTitle}</title>
    <meta content={description} name="description" />
    <link href="/sitemap-index.xml" rel="sitemap" />

    <!-- Open Graph Defaults -->
    <meta content={siteName} property="og:site_name" />
    <meta content={canonicalUrl} property="og:url" />
    <meta content={fullTitle} property="og:title" />
    <meta content={ogType} property="og:type" />
    <meta content={ogLocale} property="og:locale" />
    {alternates.map((alt) => <meta content={alt.ogLocale} property="og:locale:alternate" />)}
    <meta content={description} property="og:description" />
    {ogImage && <meta content={ogImage} property="og:image" />}

    <!-- Socials -->
    <meta content="summary_large_image" name="twitter:card" />
    <meta content={fullTitle} name="twitter:title" />
    <meta content={description} name="twitter:description" />

    <!-- Icons -->
    <!-- <link rel="icon" href="/favicon.ico" sizes="any" /> -->
    <link href="/favicon.svg" rel="icon" type="image/svg+xml" />
    <!-- <link rel="apple-touch-icon" href="/apple-touch-icon.png" /> -->

    <!-- PWA/UI -->
    <link href="/site.webmanifest" rel="manifest" />
    <meta content="#f2e9d6" media="(prefers-color-scheme: light)" name="theme-color" />
    <meta content="#0a0e19" media="(prefers-color-scheme: dark)" name="theme-color" />
    <meta content="dark light" name="color-scheme" />

    <!-- Optional Policies/Perf -->
    <meta content="strict-origin-when-cross-origin" name="referrer" />
    <meta content={robotsContent} name="robots" />
    <link
      as="font"
      crossorigin
      href="/fonts/CormorantGaramond-VariableFont_wght.woff2"
      rel="preload"
      type="font/woff2"
    />
    <link
      as="font"
      crossorigin
      href="/fonts/SourceSerif4-VariableFont_opsz,wght.woff2"
      rel="preload"
      type="font/woff2"
    />

    <!-- Page Specific -->
    <slot name="head" />

    <!-- Auto -->
  </head>
  <body>
    <a class="skip" href="#main">Skip to main content</a>
    <Header />
    <main id="main" tabindex="-1">
      <slot />
    </main>
    <Footer />
  </body>
</html>
