---
import Layout from '../../../layouts/Layout.astro'
import BlogPost from '../../../components/BlogPost.astro'
import { getCollection } from 'astro:content'
import type { CollectionEntry } from 'astro:content'
import { buildBlogPostPath, getLangFromUrl, encodeTagPath } from '../../../i18n/utils'

export async function getStaticPaths() {
  const allPosts: CollectionEntry<'blog'>[] = await getCollection('blog', (entry) => entry.id.startsWith('en/'))
  const uniqueTags = [...new Set(allPosts.map((post) => post.data.tags).flat())]

  return uniqueTags.map((tag: string) => {
    const filteredPosts: CollectionEntry<'blog'>[] = allPosts.filter((post) => post.data.tags.includes(tag))
    return {
      params: { slug: encodeTagPath(tag) },
      props: { posts: filteredPosts, tag },
    }
  })
}

const { tag, posts } = Astro.props as { tag: string; posts: CollectionEntry<'blog'>[] }
const lang = getLangFromUrl(Astro.url);

const pageTitle = `Posts tagged with ${tag}`;
const description = `Browse articles tagged “${tag}” on ${import.meta.env.SITE_NAME}.`;
---

<Layout pageTitle={pageTitle} description={description}>
  <h1>Posts tagged with {tag}</h1>
  <ul aria-label="Tagged Posts">
    {posts.map((post) => <BlogPost url={buildBlogPostPath(lang, post.id)} title={post.data.title} />)}
  </ul>
</Layout>
