---
import NavigationLink from "@/components/NavigationLink.astro";
import type { HTMLAttributes } from "astro/types";
import { getRelativeLocaleUrl } from "astro:i18n";
import { uiLoader } from "@/utils/core/i18n/dict/uiLoader.ts";

type NavigationStyle = "default" | "embellished";

interface Props extends HTMLAttributes<"ul"> {
  mode: NavigationStyle;
}

const { mode = "default", ...attributes } = Astro.props;

const lang = Astro.currentLocale;
const ui = await uiLoader.getAsync(lang);

const homeUrl = getRelativeLocaleUrl(lang, "");
const folioUrl = getRelativeLocaleUrl(lang, "folio");
const blogUrl = getRelativeLocaleUrl(lang, "blog");
const contactUrl = getRelativeLocaleUrl(lang, "contact");

const classList = ["nav-links", mode];
---

<ul class:list={[classList, attributes.class]} {...attributes}>
  <li>
    <NavigationLink href={homeUrl}>{ui.nav.home}</NavigationLink>
  </li>
  <li>
    <NavigationLink href={folioUrl}>{ui.nav.portfolio}</NavigationLink>
  </li>
  <li>
    <NavigationLink href={blogUrl}>{ui.nav.blog}</NavigationLink>
  </li>
  <li>
    <NavigationLink href={contactUrl}>{ui.nav.contact}</NavigationLink>
  </li>
</ul>

<style>
  .btn {
    padding: 0;
  }

  .nav-links {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    list-style: none;
    width: 100%;
  }

  .default {
    border-radius: var(--radius-md);
  }
  .embellished {
    border-radius: var(--radius-md);
  }

  @media (width > 950px) {
    .btn {
      padding-inline: var(--btn-padding-x);
    }
  }
</style>
