---
import NavigationLink from "@/components/NavigationLink.astro";
import { getLangFromUrl, pathWithLocale, uiLoader, buildElementProps } from "@/utils";
import type { HTMLAttributes } from "astro/types";

type NavigationStyle = "default" | "embellished";

interface Props extends HTMLAttributes<"ul"> {
  mode: NavigationStyle;
}

const { mode = "default", ...attributes } = Astro.props;

const lang = getLangFromUrl(Astro.url);
const ui = await uiLoader.getAsync(lang);

const homeUrl = pathWithLocale(lang, "/");
const folioUrl = pathWithLocale(lang, "/folio/");
const blogUrl = pathWithLocale(lang, "/blog/");
const contactUrl = pathWithLocale(lang, "/contact/");

const built = buildElementProps<"ul">({
  classList: ["nav-links", mode],
  attributes
});
---

<ul {...built}>
  <li>
    <NavigationLink href={homeUrl}>{ui.nav.home}</NavigationLink>
  </li>
  <li>
    <NavigationLink href={folioUrl}>{ui.nav.portfolio}</NavigationLink>
  </li>
  <li>
    <NavigationLink href={blogUrl}>{ui.nav.blog}</NavigationLink>
  </li>
  <li>
    <NavigationLink href={contactUrl}>{ui.nav.contact}</NavigationLink>
  </li>
</ul>

<style>
  .btn {
    padding: 0;
  }

  .nav-links {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    list-style: none;
    width: 100%;
  }

  .default {
    border-radius: var(--radius-md);
  }
  .embellished {
    border-radius: var(--radius-md);
  }

  @media (width > 950px) {
    .btn {
      padding-inline: var(--btn-padding-x);
    }
  }
</style>
