---
import Layout from "./Layout.astro";
import { buildTagPath } from "@/utils/core/routing/urlBuilders.ts";
import { metaLoader } from "@/utils/core/i18n/dict/dictBuilder.ts";

const { frontmatter } = Astro.props;
const lang = Astro.currentLocale;

const created = frontmatter["date-created"] as Date;
const modified = frontmatter["date-modified"] as Date;
const formattedDateCreated = created.toLocaleDateString(lang);
const formattedDateModified = modified.toLocaleDateString(lang);

const meta = await metaLoader.getAsync(lang);
const description = `A blog entry on ${meta["blog:index"].description}`;
---

<Layout pageTitle={frontmatter.title} description={description} ogType="article">
  <Fragment slot="head">
    <link
      rel="preload"
      href="/fonts/JetBrainsMono-VariableFont_wght.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
  </Fragment>
  <article>
    <header>
      <h1>{frontmatter.title}</h1>
      <p>
        <span>Published </span>
        <time datetime={created.toISOString()}>{formattedDateCreated}</time>
      </p>
      <p>
        <span>Updated </span>
        <time datetime={modified.toISOString()}>{formattedDateModified}</time>
      </p>
      {
        Array.isArray(frontmatter.tags) && frontmatter.tags.length > 0 && (
          <nav aria-label="Tags">
            <ul class="tags">
              {frontmatter.tags.map((tag: string) => (
                <li class="tag">
                  <a href={buildTagPath(lang, tag)}>{tag}</a>
                </li>
              ))}
            </ul>
          </nav>
        )
      }
    </header>
    <section>
      <slot />
    </section>
  </article>
</Layout>

<style>
  .tags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    list-style: none;
    padding: 0;
    margin: 0.5rem 0 0;
  }
  .tag {
    margin: 0;
  }
</style>
