---
import { getCollection } from "astro:content";
import { getRelativeLocaleUrl } from "astro:i18n";
import Layout from "../../../layouts/Layout.astro";
import BlogPost from "../../../components/BlogPost.astro";
import { pathsForAllLocales, neutralizePath } from "@/utils/i18n/path";
import { metaLoader } from "@/utils/i18n/dictBuilder";
import { byLang } from "@/utils/content/filter";

export function getStaticPaths() {
  return pathsForAllLocales();
}

const lang = Astro.currentLocale;
const meta = await metaLoader.getAsync(lang);
const title = meta["blog:index"].title;
const description = meta["blog:index"].description;

const allPosts = await getCollection("blog", byLang(lang));
---

<Layout pageTitle={title} description={description}>
  <h1>{title}</h1>
  <ul aria-label="Blog Posts">
    {
      allPosts.map((post) => (
        <BlogPost
          url={getRelativeLocaleUrl(lang, `blog${neutralizePath(post.id)}`)}
          title={post.data.title}
        />
      ))
    }
  </ul>
</Layout>
