---
import { getCollection } from "astro:content";
import { getRelativeLocaleUrl } from "astro:i18n";

import BlogPost from "@ui/BlogPost.astro";
import Layout from "@ui/Layout.astro";

import { byLang, pathsForAllLocales } from "@utils/compositional/content/filter.ts";
import { MetaLoader } from "@utils/compositional/i18n/metaLoader.ts";
import { neutralizeUrlPath } from "@utils/compositional/routing/url.ts";

export function getStaticPaths() {
  return pathsForAllLocales();
}

const lang = Astro.currentLocale;
const meta = await MetaLoader.getAsync(lang);
const title = meta["blog:index"].title;
const description = meta["blog:index"].description;

const allPosts = await getCollection("blog", byLang(lang));
---

<Layout pageTitle={title} description={description}>
  <h1>{title}</h1>
  <ul aria-label="Blog Posts">
    {
      allPosts.map((post) => (
        <BlogPost
          url={getRelativeLocaleUrl(lang, `blog${neutralizeUrlPath(post.id)}`)}
          title={post.data.title}
        />
      ))
    }
  </ul>
</Layout>
